<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Korttigeneraattori | 0.3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 80%22><text y=%22.9em%22 font-size=%2280%22>✉️</text></svg>">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="{{url_for('index')}}">✉️ Korttigeneraattori | 0.3</a>
    </div>
</nav>

<div class="container mt-3">
    <!-- Välilehdet -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Kortin tekeminen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Massapostitus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Admin</a>
      </li>
    </ul>
  
    <!-- Kortinluontiosio -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <h3>Uuden kortin luonti</h3>
        <ol>
            <li>Tarkastele eri templateja alhaalta. Templateja lisätään ja poistetaan Admin-osiosta.</li>
            <li>Valitse lomakkeesta (alhaalla) template, syötä saajan nimi, saajan sähköpostiosoite, lähettäjän nimi, ja tervehdysviesti. <b>Kenttien maksimipituus on 12 merkkiä, pl. sähköposti-kenttä, jonka maksimipituus on 64 merkkiä</b>.</li>
            <li>Uutta versiossa 0.2! Asiakkaan antama YouTube-linkki lisätään postikorttiin. Annathan sen muodossa <kbd>https://www.youtube.com/watch?v=tjt-AeJkzf0</kbd> .</li>
            <li>Lähetä tiedot painamalla sinistä "Lähetä"-nappulaa. Postikortin lähetyksen hoitaa ViestiVompatit Oy.</li>
        </ol>
        <hr>
        <h3>Korttitemplatet</h3>
        
        <div class="row">
          {% for template in templates %}
          <div class="col-md-6">
            <div class="card" style="padding:10px;margin:10px;">
              <img src="{{ template[3] }}" class="card-img-top" alt="Card image"> 
              <div class="card-body">
                <h4 class="card-title">{{ template[1] }}</h4>
              <p class="card-text">{{ template[2] }}</p>
              </div>
            </div>
          </div>
          {% else %}
          <p>Ei templateja, lisää uusi template Admin-osiosta.</h4>
          {% endfor %}
        </div>

        <hr>
        <h3>Tietojen syöttö ja kortin luonti</h3>
        <div style="width:100%">
        <form action="/send-initial" method = "POST" enctype="multipart/form-data">
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="exampleFormControlSelect1">Valitse template: <b style="color:red;">*</b></label>
                <select class="form-control" name="syot_template_nimi">
                  {% for template in templates %}
                  <option>{{ template[1] }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="form-group" style="margin:10px;padding:5px">
              <label for="email">Saajan nimi: <b style="color:red;">*</b></label>
              <input type="text" name="syot_saajan_nimi" maxlength="12" class="form-control" placeholder="Kirjoita saajan nimi">
            </div>
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="pwd">Saajan sähköpostiosoite: <b style="color:red;">*</b></label>
                <input type="email" name="syot_saajan_sposti" maxlength="64" class="form-control" placeholder="Kirjoita saajan sähköpostiosoite">
              </div>
            <div class="form-group" style="margin:10px;padding:5px">
              <label for="pwd">Lähettäjän nimi: <b style="color:red;">*</b></label>
              <input type="text" name="syot_lahet_nimi" maxlength="12" class="form-control" placeholder="Kirjoita lähettäjän nimi">
            </div>
            <div class="form-group" style="margin:10px;padding:5px">
              <label for="pwd">YouTube-linkki: <b style="color:red;">*</b></label>
              <input type="text" name="syot_yt_link" maxlength="43" class="form-control" placeholder="Liitä linkki muodossa https://www.youtube.com/watch?v=tjt-AeJkzf0">
            </div>
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="pwd">Viesti: <b style="color:red;">*</b></label>
                <input type="text" name="syot_lahet_viesti" maxlength="12" class="form-control" placeholder="Kirjoita viesti">
            </div>
            <button type="submit" class="btn btn-primary">Lähetä</button>
          </form>
        </div>
      </div>

      <!-- Massapostitus -->
      <div id="menu1" class="container tab-pane fade"><br>
        <h3>Massapostitus</h3>
        <ul>
          <li>Massapostitus ottaa vastaan joko yhden .xlsx (Excel) tai .csv-tiedoston. Tiedostossa tiedot pitää olla vierekkäisissä sarakkeissa, sarake A: etunimi, sarake B: sähköposti.</li>
          <li>Tiedostossa ei saa olla sarakkeita kuvaavia otsikoita, vaan pelkkää dataa. Eli solu A1 on jo nimi ja solu B1 on jo sähköpostiosoite.</li>
          <li>CSV-tiedostossa yhden rivin pitää olla muodossa <kbd>etunimi,sähköposti@example.com</kbd> . Muilta ominaisuuksilta osin massapostitus toimii kuten yhden kortin lähettäminen tilausjonoon.</li>
        </ul>
        <form action="/send-massa" method = "POST" enctype="multipart/form-data">
          <div class="form-group" style="margin:10px;padding:5px">
              <label for="excelfromuser">Valitse tiedosto: <b style="color:red;">*</b></label>
              <input type="file" name="excelfromuser" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
          </div>
          <div class="form-group" style="margin:10px;padding:5px">
            <label for="exampleFormControlSelect1">Valitse template: <b style="color:red;">*</b></label>
            <select class="form-control" name="massa_template_nimi">
              {% for template in templates %}
              <option>{{ template[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group" style="margin:10px;padding:5px">
            <label for="pwd">Lähettäjän nimi: <b style="color:red;">*</b></label>
            <input type="text" name="massa_lahet_nimi" maxlength="12" class="form-control" placeholder="Kirjoita lähettäjän nimi">
          </div>
          <div class="form-group" style="margin:10px;padding:5px">
            <label for="pwd">YouTube-linkki: <b style="color:red;">*</b></label>
            <input type="text" name="massa_yt_link" maxlength="43" class="form-control" placeholder="Liitä linkki muodossa https://www.youtube.com/watch?v=tjt-AeJkzf0">
          </div>
          <div class="form-group" style="margin:10px;padding:5px">
              <label for="pwd">Viesti: <b style="color:red;">*</b></label>
              <input type="text" name="massa_lahet_viesti" maxlength="12" class="form-control" placeholder="Kirjoita viesti">
          </div>
        <button type="submit" class="btn btn-primary">Lähetä</button>
        </form>
      </div>

      <!-- Admin-osio -->
      <div id="menu2" class="container tab-pane fade"><br>
        <h3>Lisää uusi template</h3>
        <ol>
            <li>Lataa korttitemplaten pohja <a href="{{url_for('static', filename='photos/korttitemplate-pohja.jpg')}}" target=”_blank”>täältä</a>.</li>
            <li>Luo korttitemplate omalla tietokoneella valitsemallasi kuvankäsittelyohjelmalla ja tallenna se .jpg-muotoisena, koko on 750 x 525 pikseliä. Nimen täytyy olla uniikki eli se ei saa olla mikään aikaisemman jo olemassaolevan templaten nimi.</li>
            <li>Valitse tiedosto tietokoneeltasi, syötä tarvittavat tiedot ja paina "lisää".</li>
        </ol>
        
        <form action="/add-templ" method = "POST" enctype="multipart/form-data">
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="jpgfromuser">Valitse tiedosto: <b style="color:red;">*</b></label>
                <input type="file" name="jpgfromuser" accept="image/jpeg" />
            </div>
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="tnimi">Templaten nimi: <b style="color:red;">*</b></label>
                <input type="text" name="template_nimi" class="form-control" placeholder="Kirjoita templaten nimi">
              </div>
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="tkuvaus">Templaten kuvaus:</label>
                <input type="text" name="template_kuvaus" class="form-control" placeholder="Kirjoita templaten kuvaus">
            </div>
            <button type="submit" class="btn btn-primary">Lisää</button>
          </form>
          <hr>
        <h3>Poista template</h3>
        <form action="/del-templ" method = "POST">
            <div class="form-group" style="margin:10px;padding:5px">
                <label for="exampleFormControlSelect1">Valitse template:</label>
                <select class="form-control" name="poistovalinta">
                  {% for template in templates %}
                  <option>{{ template[1] }}</option>
                  {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="return confirm('Oletko varma että haluat poistaa valitun templaten?');">Poista</button>
          </form>
      </div>

    </div>
  </div>
<!-- Footer -->
    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>Powered by AW Academy</p>
    </div>
</body>
</html>